*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/*.xml
.DS_Store
/build
/captures
/app/.cxx
.externalNativeBuild
/ijkplayer-example/build/
/ijkplayer-example/*.iml
/libuvccamera/build/
/libuvccamera/*.iml
/usbCameraCommon/build/
/release
/debug
